{{#partial "components"}}
    <hr>
    {{#if departments}}
        <div class="department">
            <p style="color: #93979e;">Current Departments:  <a title="Create A new Department" style="text-decoration:none;" href="/departments/new">+</a>  |
            </p>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                {{# each departments}}
                    <button type="button" class="btn btn-outline-primary" onclick="window.location.href='/departments/{{id}}';">{{name}}</button>
                {{/each}}
            </div>
        </div>
    {{/if}}
    <hr>
    {{#if positions}}
        <div class="position">
            <p style="color: #93979e;">Current Positions:  <a title="Create A new Position" style="text-decoration:none;" href="/positions/new">+</a>  |
            </p>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                {{# each positions}}
                    <button type="button" class="btn btn-outline-success" onclick="window.location.href='/positions/{{id}}';">{{name}}</button>
                {{/each}}
            </div>
        </div>
    {{/if}}
    <hr>
{{/partial}}

{{#partial "content"}}
    {{#if employees}}
        <h3 class="index-title">Employees</h3>
        <div class="table-div">
            <table class="table table-hover table-responsive table-sm">
                <thead class="table-info text-center">
                <tr>
                    <th scope="col">Staff ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody class="table-group-divider bg-light">
                {{#each employees }}
                    <tr class="text-center">
                        <th scope="row"><a href="/employees/{{id}}/{{position_id}}/{{department_id}}">{{staff_id}}</a></th>
                        <td>{{first_name}}</td>
                        <td>{{last_name}}</td>
                        <td>{{phone_no}}</td>
                        <td>{{email}}</td>
                        <td>{{role}}</td>
                        <td><a href="/employees/{{id}}/edit"></a></td>
                        <td><a href="" data-bs-toggle="modal" data-bs-target="#staticDeleteEmployee"></a></td>
                        <!-- Delete Employee modal -->
                        <div class="modal fade" id="staticDeleteEmployee" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Delete Employee</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Confirm you are about to delete the Employee!!
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger btn-sm" onclick="window.location.href='/employees/{{id}}/delete';">Delete</button>
                                        <button type="button" class="btn btn-success btn-sm" data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                {{/each}}
                <tr>
                    <td colspan="8">Delete All Employees  <a href="" data-bs-toggle="modal" data-bs-target="#staticDeleteAllEmployees"><i class="bi bi-trash-fill"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Delete All Employee modal -->
        <div class="modal fade" id="staticDeleteAllEmployees" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Delete All Employees</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <i class="bi bi-shield-fill-exclamation text-danger"></i>
                        Confirm you are about to delete All Employee!!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm" onclick="window.location.href='/employees/delete/all';">Delete</button>
                        <button type="button" class="btn btn-success btn-sm" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

    {{else}}
        <p class="text-center">No data provided!</p>
        <p class="text-center text-muted">Create Employees from the tabs above.</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}