{{#partial "content"}}
    <hr>
    {{#if positions}}
        <div class="position">
            <p style="color: grey;">Current Positions:  <a title="Create A new Position" style="text-decoration:none;" href="/positions/new">+<i class="bi bi-file-person"></i></a>  |
                <a title="Delete All Positions" href="" data-bs-toggle="modal" data-bs-target="#staticDeleteAllPositions"><i class="bi bi-trash"></i></a>
            </p>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                {{# each positions}}
                    <button type="button" class="btn btn-outline-success" onclick="window.location.href='/positions/{{id}}';">{{name}}</button>
                {{/each}}
            </div>
        </div>
    {{/if}}
    <hr>
    {{#if editPosition}}
        <div class="form-div">
            <h1>Edit this Position!</h1>
            <form action="/positions/{{position.id}}" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Edit this position's name</label>
                    <input class="form-control input-field" id="newPosition" name="newPosition" type="text" value="{{position.name}}">
                </div>
                <div class="mb-3 input-div">
                    <input class="form-control border-bottom input-field" id="updated" name="updated" type="hidden" value="{{position.updated}}" required>
                </div>
                <script>
                    function time() {
                    let dt = new Date().toLocaleString()
                    document.getElementById('updated').value = dt
                    }
                </script>
                <button type="submit" class="btn btn-success btn-sm mb-3" onclick="time()">Submit</button>
                <button type="button" class="btn btn-danger btn-sm mb-3" onclick="window.location.href='/';">Cancel</button>
            </form>
        </div>
    {{else if updated}}
        <div class="form-div">
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin: auto;">
                <i class="bi bi-check-circle-fill"></i><strong>  Success!</strong> {{updated}} to {{pos}}.<br>
                <a href="/">  Go to Home  <i class="bi bi-house-fill"></i></a>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {{else}}
        <div class="form-div">
            <h3 class="text-center form-title">Add new Position</h3>
            <form action="/positions" method="post" class="form">
                <div class="mb-3 input-div">
                    <label for="name" class="form-label">Position name</label>
                    <input class="form-control border-bottom input-field" id="name" name="name" type="text" placeholder="Enter Position" required>
                </div>
                <div class="mb-3 input-div">
                    <input class="form-control border-bottom input-field" id="created_at" name="created_at" type="hidden"  required>
                </div>
                <script>
                    function created() {
                    let dt = new Date().toLocaleString()
                    document.getElementById('created_at').value = dt
                    }
                </script>
                <button type="submit" class="btn btn-success btn-sm mb-3" onclick="created()">Submit</button>
                <button type="button" class="btn btn-danger btn-sm mb-3" onclick="window.location.href='/';">Cancel</button>
            </form>
            {{#if errors}}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-triangle-fill"></i><strong>  Error!</strong> {{errors}}.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {{/if}}
            {{#if success}}
                <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin: auto;">
                    <strong>  Success!</strong> {{success}}.<br>
                    <a href="/employees/new">  Create new employee  </a>
                    <a href="/">   Home  </a>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {{/if}}
        </div>
    {{/if}}
{{/partial}}

{{> layout.hbs}}